numpy==1.16.2
scipy==1.2.1
Pillow==8.2.0
cython==0.28.2
matplotlib==2.2.2
scikit-image==0.15.0
tensorflow==1.15.4
keras==2.1.6
keras-applications==1.0.8
keras-preprocessing==1.0.5
opencv-python==4.0.0.21
h5py==2.10.0
imgaug==0.2.6
IPython[all]
